html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Brand";
  src: url("fonts/KaushanScript-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Inter_18pt-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Main";
  src: url("fonts/Inter_18pt-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Main", sans-serif;
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
button,
select,
a,
img,
div {
  -webkit-tap-highlight-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
:root {
  --color-main: #a92700;
  --color-highlight: #ffe355;
  --color-text: white;
  --shadow: -5px 5px 7px rgba(0, 0, 0, 0.3);
  --font-smaller: 1.1rem;
  --font-small: 1.25rem;
  --font-medium: 1.5rem;
  --font-large: 1.75rem;
}
@media only screen and (min-width: 700px) {
  :root {
    --font-smaller: 1.3rem;
    --font-large: 3rem;
  }
}
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-main);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-text);
}
p {
  font-size: var(--font-smaller);
  margin: 0;
  text-align: left;
  max-width: 60rem;
  margin-inline: auto;
}
/* page transitions */
.transition-slideIn {
  opacity: 0;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50vw - 50px);
  height: 100px;
  width: 100px;
  background-color: black;
  z-index: 2;
  border-radius: 50%;
  transition: all 0.8s ease-in-out;
  transform: scale(0%);
}
html.is-animating .transition-slideIn {
  opacity: 1;
  transform: scale(3000%);
}
html.is-rendering .transition-slideIn {
  opacity: 1;
  transform: scale(0%);
}
@media only screen and (max-width: 750px) {
  .transition-slideIn {
    transition: all 0.5s ease-in-out;
  }
}
/* Navigation */
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 5rem;
  padding: 0 3rem;
  z-index: 2;
}
.brand {
  font-family: "Brand";
  font-size: var(--font-medium);
  text-shadow: var(--shadow);
  font-weight: 400;
}
.nav {
  display: flex;
  gap: 3rem;
}
.navItem {
  text-decoration: none;
  text-underline-offset: 0.3rem;
  color: var(--color-text);
  text-shadow: var(--shadow);
  font-size: var(--font-medium);
}
.navItem:hover {
  color: var(--color-highlight);
}
.active {
  text-decoration: underline;
  color: var(--color-highlight);
}
.navMobile {
  display: none;
}
@media only screen and (max-width: 700px) {
  .navBar {
    align-items: flex-start;
    padding: 0 0 0 1rem;
    max-width: 100vw;
    overflow-x: clip;
  }
  .navBar h1 {
    margin: auto 0;
  }
  .nav {
    display: none;
  }
  .navMobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 1rem;
    gap: 1rem;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-text);
    -webkit-user-select: none;
    user-select: none;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem 0 0 3rem;
    padding-left: 1rem;
    gap: 0.3rem;
    transition: background-color 0.5s;
    box-shadow: var(--shadow);
  }
  .navMobile input {
    display: none;
  }
  .hamburger span {
    display: block;
    width: 27px;
    height: 4px;
    background: var(--color-main);
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger span:nth-child(1) {
    transform-origin: 0% 0%;
  }
  .hamburger span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(1) {
    opacity: 1;
    transform: rotate(45deg);
    background-color: black;
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navMobile input:checked ~ .hamburger > span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: black;
  }
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    top: 6rem;
    right: 5%;
    border-radius: 2rem 0 0 2rem;
    list-style-type: none;
    transform: translateX(110%);
    background-color: var(--color-text);
    transition: transform 0.4s;
    box-shadow: var(--shadow);
    padding: 1rem;
    gap: 1rem;
  }
  .navMenu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: 6rem;
    height: 6rem;
    font-size: var(--font-small);
    font-weight: 600;
  }
  .navMenu li a img {
    width: 2rem;
  }
  .navMobile input:checked ~ .navMenu {
    transform: none;
  }
}
/* Hero */
.heroSection {
  display: grid;
  justify-content: center;
  place-content: center;
  justify-items: center;
  gap: 1rem;
  grid-template-areas: "title" "img" "text" "button";
  background-color: var(--color-main);
  max-width: 1920px;
  margin-inline: auto;
  min-height: calc(100svh - 5rem);
  max-height: 1200px;
}
.heroTitle {
  grid-area: title;
  font-size: clamp(3rem, 12vw, 14rem);
  text-shadow: var(--shadow);
  font-weight: 600;
  line-height: 80%;
  margin: 0;
}
.megaText {
  position: relative;
  font-size: clamp(3rem, 9vw, 11rem);
  z-index: 1;
  margin-right: 5vw;
  font-family: "Brand";
  color: var(--color-highlight);
}
.imgContainer {
  grid-area: img;
}
.heroImg {
  width: 100%;
  max-width: 40rem;
}
.imgShadow {
  background-color: rgba(0, 0, 0, 0.454);
  width: 80%;
  margin-inline: auto;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
.heroSubtitle {
  grid-area: text;
  font-size: var(--font-large);
  font-weight: 600;
  text-shadow: var(--shadow);
  text-align: center;
}
.button {
  grid-area: button;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-highlight);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: #422800 7px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: var(--font-medium);
  padding: 0.8rem 2rem;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:hover {
  background-color: var(--color-text);
}
.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.button:focus {
  outline: none;
}
.heroSection .button {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 90rem) {
  .heroSection {
    min-height: calc(100vh - 4rem - 5rem);
    gap: 3rem;
    grid-template-areas:
      "title title"
      "img text"
      "img button";
    grid-template-rows:
      8rem
      auto
      auto;
  }
  .heroSubtitle {
    align-self: end;
  }
}
/* text slide */
.textBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  height: 4rem;
  overflow: clip;
  text-overflow: clip;
  white-space: nowrap;
  background-color: black;
  margin-inline: auto;
}
.textRow {
  display: flex;
  justify-content: center;
  font-size: var(--font-medium);
  font-weight: 600;
  text-transform: uppercase;
  width: 12rem;
  -webkit-animation: slide 20s linear alternate infinite;
  animation: slide 20s linear alternate infinite;
}
.word:after {
  content: "Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers • Walter Burgers •";
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* Menu */
.promoContainer {
  display: grid;
  justify-content: center;
  place-items: center;
  overflow-x: clip;
  padding: 0 1rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
}
.promoContainer .atropos {
  margin-top: 4rem;
  max-width: 30rem;
}
.menuTitle {
  font-size: var(--font-large);
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.card {
  cursor: pointer;
  overflow: visible !important;
  border-radius: 4rem;
  border: 2px solid var(--color-text);
  padding: 1rem;
  padding-bottom: 3rem;
}
.itemTitle {
  font-size: var(--font-large);
  font-family: "Brand";
  margin: 0;
}
.itemDiscount {
  font-size: var(--font-medium);
  font-family: "Main";
  text-align: center;
}
.burger,
.burgerVideo {
  width: 50%;
  position: relative;
  z-index: 1;
  margin: 0 -20%;
  margin-bottom: -3rem;
}
.burgerVideo {
  width: 65%;
  margin: 0 -30%;
  margin-bottom: -3rem;
}
.soda {
  width: 35%;
}
.fries {
  width: 50%;
}
.atropos-shadow {
  background-color: rgba(0, 0, 0, 0.3) !important;
  position: relative !important;
  margin-top: -6rem;
  margin-inline: auto !important;
  max-width: 30rem !important;
  height: 100px !important;
  border-radius: 50%;
}
/* Burgers */
.burgersContainer {
  display: grid;
  justify-content: space-around;
  place-items: center;
  padding: 5rem 1rem;
  padding-top: 0;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
}
.burgersContainer .atropos {
  margin-top: 4rem;
  width: 100%;
  max-width: 25rem;
}
.atropos-inner {
  border-radius: 4rem;
}
.card-burger {
  cursor: pointer;
  border-radius: 4rem;
  overflow: clip;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.burgerTitle {
  z-index: 1;
  font-size: var(--font-large);
  font-family: "Brand";
  margin: 0;
}
.burgerBackground {
  height: 100%;
}
/* Dialog */
.dialogDescription {
  width: 100%;
  color: var(--color-text);
  background-color: transparent;
  border: none;
}
.dialogDescription::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
.dialogContent {
  display: grid;
  justify-content: center;
  place-items: center;
  gap: 3rem;
  max-width: 1920px;
  margin-inline: auto;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
  grid-template-areas: "button" "title" "img" "text";
}
.dialogContent button {
  grid-area: button;
}
.dialogContent .brand {
  grid-area: title;
  margin: 0;
  font-size: var(--font-large);
}
.dialogBurger {
  grid-area: img;
  width: 100%;
}
.dialogText {
  grid-area: text;
  color: var(--color-highlight);
  font-size: var(--font-smaller);
  font-weight: 400;
  margin: 0;
  width: 100%;
  opacity: 0.8;
}
@media only screen and (min-width: 90rem) {
  .dialogContent {
    grid-template-areas:
      "button title"
      "text img";
  }
}
/* About */
.about {
  min-height: 80vh;
  padding: 2rem;
}
.aboutTitle {
  font-size: var(--font-large);
}
/* Footer */
.footer {
  background-color: black;
  font-weight: 600;
  padding: 3rem 0;
}
.footer p {
  width: fit-content;
}
.link {
  color: var(--color-highlight);
}
.link:hover {
  color: var(--color-text);
}
